*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño de barra de navegación */

.logo_company{
    width: 15rem;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.menu_navegacion{
    display: flex;
    justify-content: center;
}

.items{
    padding: 0rem 1.5rem;
    list-style: none;
    text-decoration: none;
    color: black;
}

.items:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    line-height: 8px;
}

/* Diseño de la seccion de servicios */


.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    height: 90vh;

}


.service_item .active{
    display: none
}

.services h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.services p{
    width: 30rem;
    color: rgb(63, 63, 63);
}

.services_elements{
    display: flex;
    margin-bottom: 1rem;
}

.active .check_logo{
    width: 1rem;
}


.tag{
    display: flex;
    margin-bottom: 2rem;
}

.tag h3{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.tag h3:hover{
    color: rgb(221, 169, 0);
}

.btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.active{
    margin-bottom: 2rem;
    display: none;
    width: 100%;
}
.service_item img {
    width: 2rem;
    margin-right: 1.5rem;
}

/* Diseño de la segunda seccion de los servicios */

.active_second{
    display: none;
    
}

.container{
    display: flex;
    justify-content: center;
    height: 30rem;
}

.elements_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.services_elements{
    width: 15rem;
    padding: 0rem 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.title_container{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./src/Fondo\ servicios\ 4.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}

.active_second{
    margin-bottom: 2rem;
}

.check_logo{
    height: fit-content;
    margin-right: 1rem;
}

.container .services_elements img{
    width: 2rem;
}

.services_list_elements .botones_container{
    display: flex;
    justify-content: center;
    padding-top: 5rem;  
    padding-bottom:2rem ;
}

.btn_container{
    padding: 0.6rem 1.7rem;
    margin: 0rem 1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn_container:hover{
    background-color: white;
    color: black;
    border: 1px solid #000;
}



/* Diseño de la segunda seccion de los elementos desplegables  */

.container_second_service{
    display: none;
}

.active_second{
    width: 100%;
}

.container_second_service_title{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./src/fondo_servicios_2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    
}

.second_container{
display: flex;
}

.active_second .services_elements img{
    width: 1rem;
    height: fit-content;
}

.container_second_service .active_second{
    display: flex;
}

.container_list_second_services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services_elements{
    margin: 1rem 1rem;
}

.botones_segunda_seccion{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
}

.btn_segunda_seccion{
    padding: 0.5rem 2rem;
    margin: 0rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_segunda_seccion:hover{
    background-color: white;
    color: black;
    border: 1px solid #000;
}
/* Diseño de la seccion de el footer */

.footer__section{
    height: 5rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer__section p{
    margin-bottom: 1rem;
}

.footer__social__media{
    display: flex;
}

.footer_icon{
    width: 1.5rem;
    margin: 0rem 1rem;
    cursor: pointer;
}

/* Desarrollo de la tercera seccion desplegable de los servicio */

.tercer_active{
    display: none;
}

.tercer_container{
    display: flex;
}
.elementos_container_tercero{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.elementos_container_tercero .services_elements{
    width: 30rem;
}

.informacion_contenedor_tres{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./src/fondo_servicios_3.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
}
.check_logo{
    width: 1rem;
    height: fit-content ;
}


.botones_tercera_seccion{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
}

.btn_tercero{
    padding: 0.5rem 2.5rem;
    margin: 0rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_tercero:hover{
    background-color: white;
    border: 1px solid #000;
    color: black;
}

/* Diseño de la seccion cuatro de los elementos desplegables seccion cuatro */

.active_cuatro{
    display: none;
}

.container_cuatro{
    display: flex;
}

.elementos_container_cuatro .services_elements img{
    width: 1.5rem;
}

.elementos_container_cuatro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.elementos_container_cuatro .services_elements{
    width: 17rem;
}

.informacion_container_cuatro{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./src/fondo_servicios_1.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
}

.botones_cuarta_seccion{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
}

.btn_cuarta_seccion{
    padding: 0.5rem 2.5rem;
    margin: 0rem 1rem;
    background: #000;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn_cuarta_seccion:hover{
    background-color: white;
    color: #000;
    border: 1px solid #000;
}

/* Diseño de la quinta seccion desplegable de servicios */

.active_quinto{
    display: none;
}

.container_quinto{
    display: flex;
    height: 20rem;
}

.elementos_quinta_seccion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.elementos_quinta_seccion .services_elements{
    width: 17rem;
}

.informacion_quinta_seccion{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./src/fondo_Servicios\ 5.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
}

.botones_quinta_seccion{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
}

.btn_quinta_seccion{
    padding: 0.5rem 2rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0rem 1rem;
}

.btn_quinta_seccion:hover{
    background-color: white;
    color: #000;
    border: 1px solid #000;
}

